{% extends "_base.html" %}


{% set lead = "programming language" %}

{% block contents %}

    <div class="col-2">

        <h5 class="text-right"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;Users</h5>

        <table class="table table-hover table-sm small">
            <thead class="text-muted">
                <tr>
                    <th class="text-center" width="1%">#</th>
                    <th>Name</th>
                    <th width="1%"></th>
                    <th width="1%"></th>
                    <th class="text-center" width="1%">★</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="row-user" {% if loop.index0 >= max_users %}style="display:none"{% endif %} data-country="{{ user.country }}">
                    <td class="idx text-right text-muted small">{{ loop.index }}</td>
                    <td><a class="card-popover" data-card="{{ user.info.name }}" href="http://github.com/{{ user.info.name }}">{{ user.info.name }}</a></td>
                    <td><img alt="@{{ user.info.name }}" src="{{ user.info.avatar }}?v=4&s=40" height="20" width="20" class="rounded"></td>
                    <td><span class="flag flag-{{ user.country }}" title="{{ all_countries[user.country].names[0] }}"></span></td>
                    <td class="text-right text-muted small">{{ user.stars }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col">
        <h5 class="text-right"><i class="fa fa-code-fork" aria-hidden="true"></i>&nbsp;Repositories</h5>

        <table class="table table-hover table-sm">
            <thead class="text-muted">
                <tr>
                    <th class="text-center" width="1%">#</th>
                    <th width="25%">Title</th>
                    <th>Description</th>
                    <th width="1%"></th>
                    <th class="text-center" width="1%">★</th>
                </tr>
            </thead>
            <tbody>
                {% for repo in repos %}
                <tr class="row-repo" {% if loop.index0 >= max_repos %}style="display:none"{% endif %} data-country="{{ repo.country }}">
                    <td class="idx text-right text-muted small">{{ loop.index }}</td>
                    <td>
                        <a class="card-popover" data-card="{{ repo.user }}/{{ repo.info.name }}" href="{{ repo.info.url }}">{{ repo.info.name }}</a>
                        <span class="text-muted small">{{ repo.user }}</span>
                    </td>
                    <td class="small">{{ (repo.info.description or '')|truncate(100, True) }}</td>
                    <td><span class="flag flag-{{ repo.country }}" title="{{ all_countries[repo.country].names[0] }}"></span></td>
                    <td class="text-right text-muted small">{{ repo.info.stars }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="col-2">
        {% include "sub_countries.html" %}
        {% include "sub_meta.html" %}
    </div>

{% endblock %}
