{% extends "_base.html" %}


{% block contents %}

    <div class="row mt-4">

        <div class="col-2">

            <h3 class="float-left">Users</h3><sup class="float-left fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Top {{ max_users }} users by number of stargazers."></sup>

            <table class="table table-hover table-sm small">
                <thead class="text-muted">
                    <tr>
                        <th class="text-center" width="1%">#</th>
                        <th>Name</th>
                        <th width="1%"></th>
                        <th width="1%"></th>
                        <th class="text-center" width="1%">★</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users[:max_users] %}
                    <tr>
                        <td class="text-right text-muted small">{{ loop.index }}</td>
                        <td><a href="http://github.com/{{ user.info.name }}">{{ user.info.name }}</a></td>
                        <td><img alt="@{{ user.info.name }}" src="{{ user.info.avatar }}?v=4&s=40" height="20" width="20" class="rounded"></td>
                        <td><span class="flag flag-{{ user.country }}" title="{{ all_countries[user.country].names[0] }}"></span></td>
                        <td class="text-right text-muted small">{{ user.stars }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col">
            <h3 class="float-left">Repositories</h3><sup class="float-left fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Top {{ max_repos }} repositories by number of stargazers."></sup>

            <table class="table table-hover table-sm">
                <thead class="text-muted">
                    <tr>
                        <th class="text-center" width="1%">#</th>
                        <th width="25%">Title</th>
                        <th>Description</th>
                        <th width="1%"></th>
                        <th class="text-center" width="1%">★</th>
                    </tr>
                </thead>
                <tbody>
                    {% for repo in repos[:max_repos] %}
                    <tr>
                        <td class="text-right text-muted small">{{ loop.index }}</td>
                        <td>
                            <a href="{{ repo.info.url }}">{{ repo.info.name }}</a>
                            <span class="text-muted small">{{ repo.user }}</span>
                        </td>
                        <td class="small">{{ repo.info.description }}</td>
                        <td><span class="flag flag-{{ repo.country }}" title="{{ all_countries[repo.country].names[0] }}"></span></td>
                        <td class="text-right text-muted small">{{ repo.info.stars }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="col-2">

            <h3 class="float-left">Countries</h3><sup class="float-left fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Countries by number of stargazers."></sup>

            <table class="table table-hover table-sm small">
                <thead class="text-muted">
                    <tr>
                        <th class="text-center" width="1%">#</th>
                        <th width="25%">Name</th>
                        <th width="1%"></th>
                        <th class="text-center" width="1%">★</th>
                    </tr>
                </thead>
                <tbody>
                    {% for country_code, country_stars in countries.items() %}
                    <tr>
                        <td class="text-right text-muted small">{{ loop.index }}</td>
                        <td>{{ all_countries[country_code].names[0] }}</td>
                        <td><span class="flag flag-{{ country_code }}" title="{{ all_countries[country_code].names[0] }}"></span></td>
                        <td class="text-right text-muted small">{{ country_stars }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}
