<div>
    <h5 class="text-right"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Meta</h5>

    <table class="table table-hover table-sm small">
        <tr>
            <td class="small">Stars minimum</td>
            <td class="text-right text-muted small">{{ min_stars }}</td>
        </tr>
        <tr>
            <td class="small">Followers minimum</td>
            <td class="text-right text-muted small">{{ min_followers }}</td>
        </tr>
        <tr>
            <td class="small">Gathered at</td>
            <td class="text-right text-muted small">{{ dt_gathered }}</td>
        </tr>
    </table>
</div>